<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch Doctor Data</title>
    <!-- Linking CSS file using url_for -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Fetch Doctor Data</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#" id="button1">Home</a></li>
      </ul>
    </nav>
    <form id="doctorForm" action="#" method="post">
      <label for="code">Enter Doctor Code:</label>
      <input type="text" id="code" name="code" required />
      <button type="submit">Submit</button>
    </form>

    {% if message1 and ((message1[0]['patient_type'] == 'IP') and
    (message1[0]['patient_type'] != 'NA')) %}
    <h3 style="margin-left: 100px">Inpatient table</h3>
    <table style="margin: 0px auto">
      <tr>
        <th>Patient code</th>
        <th>Patient name</th>
        <th>Date of birth</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Visit</th>
        <th>Admission date</th>
        <th>Discharge date</th>
        <th>Diagnosis</th>
        <th>Treat number</th>
        <th>Result</th>
      </tr>

      {% for value in message1 %}
      <tr>
        <td>{{ value['p_code'] }}</td>
        <td>{{ value['fname'] }} {{ value['lname'] }}</td>
        <td>{{ value['dob'] }}</td>
        <td>{{ value['phone_number'] }}</td>
        <td>{{ value['address'] }}</td>
        <td>{{ value['record_no'] }}</td>
        <td>{{ value['admission_date'] }}</td>
        <td>{{ value['discharge_date'] }}</td>
        <td>{{ value['diagnosis'] }}</td>
        <td>{{ value['treatment_no'] }}</td>
        <td>{{ value['result'] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %} {% if message1 and (message1[0]['patient_type'] != 'NA') %} {{
    message1 }} {% else %} {% endif %} {% endif %} {% if message2 and
    ((message2[0]['patient_type'] == 'OP') and (message2[0]['patient_type'] !=
    'NA')) %}
    <h3 style="margin-left: 100px">Outpatient table</h3>
    <table style="margin: 0px auto">
      <tr>
        <th>Patient code</th>
        <th>Patient name</th>
        <th>Date of birth</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Exami_no</th>
        <th>Visit</th>
        <th>Treat time</th>
        <th>Treat_date</th>
        <th>Next_date</th>
        <th>Fee</th>
        <th>Diagnosis</th>
      </tr>

      {% for value in message2 %}
      <tr>
        <td>{{ value['p_code'] }}</td>
        <td>{{ value['fname'] }} {{ value['lname'] }}</td>
        <td>{{ value['dob'] }}</td>
        <td>{{ value['phone_number'] }}</td>
        <td>{{ value['address'] }}</td>
        <td>{{ value['exami_no'] }}</td>
        <td>{{ value['exami_series_no'] }}</td>
        <td>{{ value['exami_time'] }}</td>
        <td>{{ value['exami_date'] }}</td>
        <td>{{ value['next_date'] }}</td>
        <td>{{ value['fee'] }}</td>
        <td>{{ value['diagnosis'] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %} {% if message2 and (message2[0]['patient_type'] != 'NA') %} {{
    message2 }} {% else %} {% endif %} {% endif %}

    <footer>
      <p>&copy; 2023 Database Website</p>
    </footer>
    <script>
      document.getElementById("button1").addEventListener("click", function () {
        window.location.href = "homepage";
      });
    </script>
  </body>
</html>
