<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Payment Information</title>
    
    <!-- Linking CSS file using url_for -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <header>
        <h1>Fetch Payment Information</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#" id="button1">Home</a></li>
        </ul>
    </nav>

    <form id="paymentForm" action="#" method="post">
        <label for="code">Enter Patient Code:</label>
        <input type="text" id="code" name="code" required />
        <button type="submit">Submit</button>
    </form>

    {% if message %}
        {% if message[0]['Patient_Type'] == 'OP' %}
            <table style="margin: 0px auto">
                <tr>
                    <th>Patient Type</th>
                    <th>Outpatient Code</th>
                    <th>Examine No</th>
                    <th>Examine Time</th>
                    <th>Examine Date</th>
                    <th>Next Appointment Date</th>
                    <th>Examine Fee</th>
                    <th>Doctor First Name</th>
                    <th>Doctor Last Name</th>
                    <th>Doctor Specialty</th>
                    <th>Provider Name</th>
                    <th>Provider Address</th>
                    <th>Provider Phone</th>
                    <th>Payment Date</th>
                    <th>Payment Price</th>
                    <th>Outpatient Diagnosis</th>
                </tr>

                {% for value in message %}
                    <tr>
                        <td>{{ value['Patient_Type'] }}</td>
                        <td>{{ value['Outpatient_Code'] }}</td>
                        <td>{{ value['Treatment_No'] }}</td>
                        <td>{{ value['Treatment_Time'] }}</td>
                        <td>{{ value['Treatment_Date'] }}</td>
                        <td>{{ value['Next_Appointment_Date'] }}</td>
                        <td>{{ value['Treatment_Fee'] }}</td>
                        <td>{{ value['Doctor_FirstName'] }}</td>
                        <td>{{ value['Doctor_LastName'] }}</td>
                        <td>{{ value['Doctor_Specialty'] }}</td>
                        <td>{{ value['Provider_Name'] }}</td>
                        <td>{{ value['Provider_Address'] }}</td>
                        <td>{{ value['Provider_Phone'] }}</td>
                        <td>{{ value['Payment_Date'] }}</td>
                        <td>{{ value['Payment_Price'] }}</td>
                        <td>{{ value['Outpatient_Diagnosis'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% elif message[0]['Patient_Type'] == 'IP' %}
            <table style="margin: 0px auto">
                <tr>
                    <th>Patient Type</th>
                    <th>Inpatient Code</th>
                    <th>Treatment Result</th>
                    <th>Treatment Start Date</th>
                    <th>Treatment End Date</th>
                    <th>Inpatient Record No</th>
                    <th>Doctor First Name</th>
                    <th>Doctor Last Name</th>
                    <th>Doctor Specialty</th>
                    <th>Provider Name</th>
                    <th>Provider Address</th>
                    <th>Provider Phone</th>
                    <th>Payment Date</th>
                    <th>Payment Price</th>
                </tr>

                {% for value in message %}
                    <tr>
                        <td>{{ value['Patient_Type'] }}</td>
                        <td>{{ value['Inpatient_Code'] }}</td>
                        <td>{{ value['Treatment_Result'] }}</td>
                        <td>{{ value['Treatment_Start_Date'] }}</td>
                        <td>{{ value['Treatment_End_Date'] }}</td>
                        <td>{{ value['Inpatient_Record_No'] }}</td>
                        <td>{{ value['Doctor_FirstName'] }}</td>
                        <td>{{ value['Doctor_LastName'] }}</td>
                        <td>{{ value['Doctor_Specialty'] }}</td>
                        <td>{{ value['Provider_Name'] }}</td>
                        <td>{{ value['Provider_Address'] }}</td>
                        <td>{{ value['Provider_Phone'] }}</td>
                        <td>{{ value['Payment_Date'] }}</td>
                        <td>{{ value['Payment_Price'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {{ message }}
        {% endif %}
    {% else %}
        {{ message }}
    {% endif %}

    <footer>
        <p>&copy; 2023 Database Website</p>
    </footer>

    <script>
        document.getElementById("button1").addEventListener("click", function () {
            window.location.href = "homepage";
        });
    </script>
</body>
</html>
