<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Website</title>
</head>
<body>
    <header>
        <h1>Welcome to our Database Website</h1>
    </header>
    <nav>
        <ul>
            <li><button type="button" onclick="redirectToLogin()">Log in</button></li>
            <li><button type="button" onclick="redirectToRegister()">Register</button></li>
        </ul>
    </nav>
    <main>
        <p>This is the website of our team that will redirect you to our database.</p>
    </main>
    <footer>
        <p>&copy; 2023 Database Website</p>
    </footer>

    <script>
        function redirectToRegister() {
            window.location.href = 'register';
        }

        function redirectToLogin() {
            window.location.href = 'login';
        }
    </script>
</body>
</html>
